$mainGrey: #808080;
$lightBlue: #acc0cd;
$black: #111;
$niceYellow: #ffff33;
$darkBlue: #005073;
$blue: #00535e;
$socialColor: #70c3f2;
$yellowBorder: #ffc20e;
$footerBack: #004165;
$borderColor: #ffc20e;
$headerLowerBack: #00a0af;
/* Spacing */
$xsSize: 0.9rem;
$sSize: 1.5rem;
$mSize: 2.3rem;
$lSize: 3.1rem;
$xlSize: 4.5rem;
